.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: grey;
}

body{
  background-image: url("background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.6);
}

.App-link {
  color: #09d3ac;
}

.login, .signup{
  background-color:white;
  padding:6vh;
  border-radius:15px;
}

.logo{
  width:70vh;
}

Link{
  color:black;
}

.navcontainer{
  display:flex;
  justify-content:center;
}

.nav{
  display:flex;
  background-color:white;
  width:60%;
  justify-content:space-evenly;
  padding:2vh 0;
  border-radius:0px 0px 20px 20px;
  color:black;
}

h1{
  color:teal;
  font-size:9vh;
}

p{
  font-size:3vh;
  color:lightgrey;
}